@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #000;
  --bg-primary: #5956e9;
  --bg-primary-dark: #3f3cdd;
  --green-dark: #086965;
  --green-light: #0fa19d;
  --dark-navy: #020c1b;
  --navy: #0a1026;
  --light-navy: #111935;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-tint: rgba(100, 255, 218, 0.1);
  /* --font-sans: "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui,
    sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace; */
}

@layer base {
  html {
    font-family: Raleway;
    color: var(--text-primary);
  }

  body {
    width: "100%";
  }
}

::-webkit-scrollbar {
  cursor: pointer;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

.x-slider input::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(30, 58, 138);
  border: 5px solid rgb(30, 58, 138);
  box-shadow: 0px 0px 40px -4px rgba(0, 0, 0, 0.76);
  transition: all 0.1s ease-in-out;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.x-slider input::-webkit-slider-thumb:hover {
  border-color: rgb(60, 88, 166);
}

/* 
.range-slider {
  position: relative;
  width: 200px;
  height: 35px;
  text-align: center;
}

.range-slider input {
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 15px;
  width: 200px;
  outline: none;
  height: 18px;
  margin: 0;
  padding: 0;
}

.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
}

.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 9px;
}

.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
border: 0;
}

.rangeValue {
width: 30px;
}

.output {
position: absolute;
border:1px solid #999;
width: 40px;
height: 30px;
text-align: center;
color: #999;
border-radius: 4px;
display: inline-block;
font: bold 15px/30px Helvetica, Arial;
bottom: 75%;
left: 50%;
transform: translate(-50%, 0);
}

.output.outputTwo {
left: 100%;
}

.container {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

input[type=range] {
-webkit-appearance: none;
background: none;
}

input[type=range]::-webkit-slider-runnable-track {
height: 5px;
border: none;
border-radius: 3px;
background: transparent;
}

input[type=range]::-ms-track {
height: 5px;
background: transparent;
border: none;
border-radius: 3px;
}

input[type=range]::-moz-range-track {
height: 5px;
background: transparent;
border: none;
border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: #555;
margin-top: -5px;
position: relative;
z-index: 10000;
}

input[type=range]::-ms-thumb {
-webkit-appearance: none;
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: #555;
margin-top: -5px;
position: relative;
z-index: 10000;
}

input[type=range]::-moz-range-thumb {
-webkit-appearance: none;
border: none;
height: 16px;
width: 16px;
border-radius: 50%;
background: #555;
margin-top: -5px;
position: relative;
z-index: 10000;
}

input[type=range]:focus {
outline: none;
}

.full-range,
.incl-range {
width: 100%;
height: 5px;
left: 0;
top: 21px;
position: absolute;
background: #DDD;
}

.incl-range {
background: gold;
} */

/*  */

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 100%;
  outline: none;
  z-index: 100;
}

.thumb input::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f2a40c;
  border: 5px solid rgb(201, 134, 9);
  box-shadow: 0px 0px 40px -4px rgba(0, 0, 0, 0.76);
  transition: all 0.1s ease-in-out;
  outline: none;
  appearance: none;
  cursor: pointer;
}

.thumb input::-webkit-slider-thumb:hover {
  border-color: rgb(168, 112, 6);
}

.thumb--left {
  z-index: 3;
  height: 5px;
}

.thumb--right {
  z-index: 4;
}
/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f2a40c;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #f2a40c;
  cursor: pointer;
  height: 20px;
  width: 20px;
  pointer-events: all;
  position: relative;
  z-index: 100;
  transition: all 0.15s ease-in-out;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f2a40c;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #f2a40c;
  cursor: pointer;
  height: 20px;
  width: 20px;
  pointer-events: all;
  position: relative;
  transition: all 0.15s ease-in-out;
}

.thumb::-webkit-slider-thumb:hover {
  box-shadow: inset 0 0 0.5em 0 rgb(236, 199, 130), 0 0 0.5em 0 #f2a40c;
  height: 22px;
  width: 22px;
}
.thumb::-moz-range-thumb:hover {
  box-shadow: inset 0 0 0.5em 0 rgb(236, 199, 130), 0 0 0.5em 0 #f2a40c;
  height: 22px;
  width: 22px;
}
