@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #000;
  --bg-primary: #5956e9;
  --bg-primary-dark: #3f3cdd;
}

@layer base {
  html {
    color: var(--text-primary);
  }
}
